
<h2>
	<%= @company.name%>
</h2>

 <% if user_signed_in? %>
        <% if current_user.admin?%>
          <% @cl = ""%>
        <%else%>
          <%@cl = "hidden"%>
        <% end %>
      <% else %>
         <% @cl = "hidden" %>
    <%end%>

<table class="table table-hover"> 
	<h3>Products</h3>
	<thead> 
		<tr> 
			<th>#</th> 
			<th>Image</th> 
			<th>Title</th>
			<th>Description</th> 
			<th>Price</th> 
		</tr> 
	</thead> 
	<tbody> 
	 	<% i = 1 %>
		<% @company.products.order("id").each do |product| %>
			<tr> 
				<th scope="row"><%= i%></th>
					<td><img src="<%= product.path_to_image%>" width="100" height="50"/></td> 
					<td><%= product.title%></a></td> 
					<td><%= product.description%></td> 
					<td><%= product.price%></td> 
					<td><%= link_to 'Edit', edit_product_path(product), class: @cl %></td>
				<% i += 1%>
			</tr> 
		<% end %>
		
	</tbody> 
</table>
<div class= "<%=@cl%>" >
<table class="table table-hover"> 
	<h3>Profiles</h3>
	<thead> 
		<tr> 
			<th>#</th> 
			<th>First name</th>
			<th>Last name</th> 
			<th>Gender</th> 
			<th>Locale</th>  
		</tr> 
	</thead> 
	<tbody> 
	 	<% i = 1 %>
		<% @company.profiles.order("id").each do |profile| %>
			<tr> 
				<th scope="row"><%= i%></th>
					<td><%= profile.first_name%></td> 
					<td><%= profile.last_name%></td> 
					<td><%= profile.gender%></td> 
					<td><%= profile.locale%></td> 
				<% i += 1%>
			</tr> 
		<% end %>	
	</tbody> 
</table>
</div>