<h1>Editing Product: <%= @product.title %></h1>


<div>
<%= form_for :product, url: product_path(@product), method: :put do |f| %>
	<% if @product && @product.errors.any? %>
	<p>
		<ul>
		<% @product.errors.full_messages.each do |msg| %>
			<div class="alert alert-danger">
				<li><%= msg %></li>
			</div>
		<% end %>
		</ul>
	</p>
	<% end %>
	<p>
		Title <br />
		<%= f.text_area :title, style: "width: 300px;height: 70px"%>
	</p>
	<p>
		Description <br />
		<%= f.text_area :description, style: "width: 300px;height: 70px"%>
	</p>
	<p>
		Price <br />
		<%= f.text_area :price, style: "width: 300px;height: 70px"%>
	</p>
	<p>
		<%= render 'form' %>
	</p>
<% end %> 
</div>



<%= link_to 'Show', @product %> |
<%= link_to 'Back', products_path %>
